header{
  font-size: 18px;
}

li{
  display: inline;
  list-style: none;
  padding: 0px;
  color: #04247c;
}

.title{
  float :left;
}

.select{
  text-align: right;
  padding-left: 40px ;
  color: #04247c;
}

a{
  text-decoration: none;
  padding-left: 40px;
}

p.smile{
  font-size: 50px;
  margin-bottom: 0;
}

.box{
  width: 1000px;
  height: 250px;
  background-color: #04247c;
}

img{
  width: 50%;
  position: absolute;
  top: 100px;
  right: 0;
}

.smileandbox{
  position: absolute;
  top: 300px;
}